.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContainer {
  height: 90vh;
  width: clamp(300px, 70vw, 70vw);
  background-color: rgb(25, 25, 25);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: slideIn 0.3s ease-out;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}
.modalBody {
  margin-top: -5rem;
  width: calc(95% - clamp(12rem, 15vw, 15vw) - 3rem);
  padding: 24px;
  z-index: 10;
}

.modalBody h2 {
  margin-top: 0;
  margin-bottom: 16px;
}

.modalBody p {
  margin: 8px 0;
  line-height: 1.5;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.infoContainer {
  width: 100%;
  height: calc(100% - 2rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  overflow: hidden;
}
.bannerSection {
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center;
  background-color: #222;
  position: relative;
}
.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
.bottomFade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  pointer-events: none;
  background: linear-gradient(to top, rgb(25, 25, 25) 0%, transparent 100%);
  z-index: 3;
}

.coverContainer {
  position: absolute;
  bottom: -20vh;
  left: 3rem;
  width: clamp(12rem, 15vw, 15vw);
  aspect-ratio: 2 / 3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border: 2px solid #222;
  border-radius: 5px;
  z-index: 4;
  background-color: #222;
}
.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentSection {
  width: 100%;
}
.navButtonsContainer {
  width: 100%;
  height: 2rem;
  margin-bottom: 1rem;
}
.navButton {
  position: relative;
  height: 100%;
  padding: 0 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

/* Línea animada */
.navButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #ffb703;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-out;
}

.navButton.activeNav::after {
  transform: scaleX(1);
  transform-origin: left;
}
